@font-face {
  font-family: "Custom";
  src: url("../fonts/WorkSans-Medium.ttf");
}

@keyframes fade {
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }
}

body {
  height: 100vh;
  margin: 0px;
  font-family: sans-serif;
  background: coral;
  font-family: "Custom";
}

#babble {
  position: fixed;
  width: 100vw;
  bottom: 0vh;
  left: 0vw;
  z-index: -1;
}

.babble {
  font-size: 2em;
  color: tan;
  padding: 0 0.1em;
  word-wrap: break-word;

}

.query, .end {
  float: left;
  padding: 0 5vw;
  font-size: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.end {
  background: orangered;
  color: salmon;
  font-size: 20vw;
  animation: fade 3s linear;
}

.fullscreen {
  width: 90vw;
  height: 100vh;
}

.chartreuse {
  background: chartreuse;
}
