body {
  margin : 0px;
  padding: 20px;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  background-color: #ff00ff;
  font-family: sans-serif;
}

#controls {
  background: coral;
  padding: 2vh 2vw;
  width: 100vw;
  height: 2em;
  position: fixed;
  top: 0vh;
  left: 0vw;
}

button.controls {
  font-size: 2em;
  float: left;
  margin: 0 20px 50px 0;
}

#timer {
  font-size: 2em;
  display: inline;
  top: 5px;
  float: right;
  position: relative;
  right: 2em;
}


p {
  position: relative;
  margin: 0 0 0 -50%;
  font-size: 5em;
}

table {
  width: 100vw;
  margin: 2em 0 0 0;
}

td {
  width: 25vw;
  vertical-align: top;
}

tr {
}

button {
  border: 1px solid black;
  font-size: 1em;
  text-align: left;
}
button.part {
  margin-top: 20px;
  background: dimgray;
  color: white;
  border: 1px solid white;
}

button.part[selected=true] {
  background: black;
}
